<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- display a flash message here, if necessary -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>
        Home
    </h1>

    <form method="post" action="/play">
        <label for="country">Country name:</label>
        <input type="text" id="country" name="country" required><br>

        <button type="submit">Play</button>
    </form>

    <form method="get" action="/update_account">
        <button tpye="submit">Update account password</button>
    </form>
    
    <form method="get" action="/delete_account">
        <button tpye="submit">Delete account</button>
    </form>
    
    <form method="get" action="/">
        <button tpye="submit">Logout</button>
    </form>
</body>
</html>